.header__container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 1rem;
  background-color: var(--violet-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--violet-6);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.header__logo:hover {
  transform: translateY(-3px);
}

select {
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 100vmin;
  padding: 5px;
  color: var(--violet-4);
  cursor: pointer;
}

option {
  font-size: 1.2rem;
}
