@import 'open-props/style';
@import url('./reset.css');
@import url('./header.css');

body {
  background-color: lavender;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Poor Story', cursive;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90%;
}

/* 공통 */
button {
  all: unset;
  padding: 10px 20px;
  border-radius: 100vw;
  background-color: var(--red-2);
  border: 1px solid var(--red-2);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--red-2);
}

input[type='text'] {
  outline: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid black;
}

input[type='text']::placeholder {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-height: 500px;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* ************************************************* */
.outside__container {
  min-height: 150vh;
}

.outside__float-button {
  position: fixed;
  bottom: 140px;
  right: 30px;
  background-color: var(--red-6);
  border-radius: 100vw;

  width: 60px;
  height: 60px;

  /* 가운데 */
  display: grid;
  place-items: center;
  cursor: pointer;
}

.outside__float-button svg {
  width: 90%;
  height: 90%;
}

.outside__float-menu {
  position: absolute;
  top: -115px;
  right: 30px;
  width: 100px;
  max-height: 0;
  overflow: hidden;
  background-color: var(--red-1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.outside__float-menu.expended {
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clipboard__result {
  margin-top: 30px;
  padding: 20px 10px;
  background-color: var(--lime-2);
  width: fit-content;
}
